
{% extends 'base.html.twig' %}

{% block title %}Details{% endblock %}

{% block body %}

<table id="example" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th >id</th>
            <th >nom</th>
            <th >prix</th>
            <th >nombre</th>
            <th >date de création</th>
            <th />
            <th />
        </tr>
    </thead>

    {% for material in materials %}
        <material>
            <tr>
                <th >{{ material.id }}</th>
                <th >{{ material.Nom }}</th>
                <th >{{ material.Prix }}</th>
                <th >{{ material.Nombre }}</th>
                <th >{{ material.CreatedAt | date('d/m/y') }} à {{ material.CreatedAt | date('H:i')}} </th>
                <th class="case_button">
                    <button id="myBtn {{ material.id }}">Voir</button>
                    <div id="myModal {{ material.id }}" class="modal">
                      <div class="modal-content">
                            <span class="close {{ material.id }}">&times;</span>
                            <p> Nom: {{ material.Nom }}</p>
                            <p> Prix: {{ material.Prix }}</p>
                            <p> Quantité: {{ material.Nombre }}</p>
                            <p> Créé le {{ material.CreatedAt | date('d/m/y') }} à {{ material.CreatedAt | date('H:i')}}</p>
                            <a href="{{ path('pdf_generate', {'id': material.id}) }}"> <button>generate PDF</button></a>
                        </div>
                </th>
                <th class="case_button">
                    <a href="{{ path('modifier-material', {'id': material.id}) }}"> <button>modifier</button></a>
                </th> 
            </tr>
        <material>

        <script>
            var modal{{ material.id }} = document.getElementById("myModal {{ material.id }}");
            var btn{{ material.id }} = document.getElementById("myBtn {{ material.id }}");
            var span{{ material.id }} = document.getElementsByClassName("close {{ material.id }}")[0];
            btn{{ material.id }}.onclick = function() {
                modal{{ material.id }}.style.display = "block";
            }
            span{{ material.id }}.onclick = function() {
                modal{{ material.id }}.style.display = "none";
            }
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal{{ material.id }}.style.display = "none";
                }
            }
        </script>
    {% endfor %}

{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">

    <script>
        $(document).ready(function () {
            $('#example').dataTable( {
             "columnDefs": [
                { "targets": [2], "searchable": false }
            ]
            });
        });
    </script>
{% endblock %}
